@media screen and (min-width: 1024px){
body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.MenuBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(black,darkgray,gray,white,darkgray,gray,black);
    border-radius: 3px;
    width: 100%;
}

.MenuBar_LeftContent{
    text-align: left;
    margin-left: 6px;
}

.MenuBar_RightContent{
    text-align: right;
    margin-right: 6px;
}

.MenuBar_Title{
    -webkit-text-stroke: 0.05px black;
    color: white;
}

.SubTitle{
    color: gray;
}

h1{
    border: solid white 2px;
    border-radius: 6px;
}

.Icon{
    position: absolute;
}

.ImageLink{
    width: 35%;
    border-radius: 8px;
    border: solid white 2px;
    display: block;
}

.ImageLink:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: red;
    font-size: 23px;
}

a:hover{
    text-decoration: underline;
    color: darkred;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.HoverImg a{
 position: relative;
}
.HoverImg a span{
    display: none;
    position: absolute;
    z-index: 99;
}
.HoverImg a:hover span{
    display: block;
}
.HoverImg a:hover span img{
    margin-top: 4px;
    border: solid white 1px;
    border-radius: 8px;
}
.HoverVIDEO video{
 position: relative;
}
.HoverVIDEO video span{
    display: none;
    position: absolute;
    z-index: 99;
}
.HoverVIDEO video:hover span{
    display: block;
}
.HoverVIDEO video:hover span video{
    margin-top: 4px;
    border: solid white 1px;
    border-radius: 8px;
}
    button{
        padding: 4px;
        margin: 4px;
        background: linear-gradient(gray,darkgray,gray,black);
        color: white;
        border-radius: 4px;
        border: solid white 2px;
        font-size: 18px;
        font-weight: 900;
    }
    button:hover{
        background: linear-gradient(black,gray,gray,black);
        color: silver;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1024px) {
    body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.MenuBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(black,darkgray,gray,white,darkgray,gray,black);
    border-radius: 3px;
    width: 100%;
}

.MenuBar_LeftContent{
    text-align: left;
    margin-left: 6px;
}

.MenuBar_RightContent{
    text-align: right;
    margin-right: 6px;
}

.MenuBar_Title{
    -webkit-text-stroke: 0.05px black;
    color: white;
    font-size: 20px;
}

.SubTitle{
    color: gray;
}

h1{
    border: solid white 2px;
    border-radius: 6px;
}

.ImageLink{
    width: 35%;
    border-radius: 8px;
    border: solid white 2px;
}

.ImageLink:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: red;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
    color: darkred;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}
.HoverImg a{
 position: relative;
}
.HoverImg a span{
    display: none;
    position: absolute;
    z-index: 99;
}
.HoverImg a:hover span{
    display: block;
}
.HoverImg a:hover span img{
    margin-top: 4px;
    border: solid white 1px;
    border-radius: 8px;
}
.HoverVIDEO video{
 position: relative;
}
.HoverVIDEO video span{
    display: none;
    position: absolute;
    z-index: 99;
}
.HoverVIDEO video:hover span{
    display: block;
}
.HoverVIDEO video:hover span video{
    margin-top: 4px;
    border: solid white 1px;
    border-radius: 8px;
}
    button{
        padding: 4px;
        margin: 4px;
        background: linear-gradient(gray,darkgray,gray,black);
        color: white;
        border-radius: 4px;
        border: solid white 2px;
        font-size: 18px;
        font-weight: 900;
    }
    button:hover{
        background: linear-gradient(black,gray,gray,black);
        color: silver;
        text-decoration: underline;
    }
}
