body{
    text-align: center;
    background-color: black;
    padding: 3px;
    color: white;
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    color: black;
    -webkit-text-stroke: 0.2px white;
    font-size: 40px;
}

.h1_Style2{
    background: linear-gradient(gray,black);
    color: white;
    border: solid white 1px;
    border-radius: 6px;
    margin: 4px;
    -webkit-text-stroke: 0.05px black;
}

h3{
    color: silver;
    font-size: 23px;
}

.MenuBar_Left{
    position: absolute;
    width: 15vw;
    height: 100%;
    background-color: gray;
    border: solid white 1px;
    border-radius: 9px;
}

img{
    width: 14vw;
    height: 15vh;
    border: solid white 1px;
    border-radius: 7px;
}

a{
    margin-top: 4px;
    text-decoration: none;
    color: red;
    font-weight: 500;
}

a:hover{
    text-decoration: underline;
    color: darkred;
}

hr{
    margin: 5px;
}

p{
    font-size: 15px;
}
