/*基本スタイル*/
.基本{
 text-align:center;
}

.Puple-Text-BackGround{
 background-color: #8a2be2;
}

.Gray-Text-BackGround{
 background-color: #c0c0c0;
}

.Red-Text{
  color: #ff0000;
}

/*メニューバーのCSS*/
.Menu-Link-Style{
 heigth: 175px;
 padding: 5px;
 background-color: #000000;
 text-decoration: none;
}
