/*中央揃え*/
.Center-alignment{
  text-align: center;
}

/*タイトルの装飾*/
.Title-Style{
  width: 50px;
  height: 50px;
  padding: 100px;
  background-color: black;
  color: white;
  font-size: 10px;
}

/*赤色のテキスト*/
.Red-Text{
  color: red;
  text-decoration: none;
}

/*灰色のテキスト*/
.Gray-Text{
  color: gray;
  text-decoration: none;
}

/*白色のテキスト*/
.White-Text{
  color: white;
  text-decoration: none;
}
