/*中央揃え*/
.Center-alignment{
  text-align: center;
}
/*バックグラウンドの色 黒*/
.BackGround-Black{
  background: black;
  border-radius: 5px;
  color: white;
}

/*赤色のテキスト*/
.Red-Text{
  color: red;
  text-decoration: none;
}

/*灰色のテキスト*/
.Gray-Text{
  color: gray;
  text-decoration: none;
}

/*白色のテキスト*/
.White-Text{
  color: white;
  text-decoration: none;
}
